.cards3{
    position: relative;
    width: 400px;
    height: 196px;
    top: 50px;
    left: 300px;
    
    background: #FFFFFF;
    border-radius: 8px;
}

.titulo3{
    position: absolute;
    width: 138px;
    height: 24px;
    left: 20px;
    top: 20px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    
    /* Gray 1 */
    
    color: #333333;
}

.tresPuntos{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 356px;
    top: 20px;    
}

.vec13{
    position: absolute;
    left: 9.38%;
    right: 71.88%;
    top: 40.62%;
    bottom: 40.62%;
    width: 4.5px;
    height: 4.5px;
    
    /* Gray 4 */
    
    background: #BDBDBD;
    border-radius: 50%;
}

.vec23{
    position: absolute;
    left: 40.62%;
    right: 40.62%;
    top: 40.62%;
    bottom: 40.62%;
    width: 4.5px;
    height: 4.5px;
    
    /* Gray 4 */
    
    background: #BDBDBD;
    border-radius: 50%;   
}

.vec33{
    position: absolute;
    left: 71.88%;
    right: 9.38%;
    top: 40.62%;
    bottom: 40.62%;
    width: 4.5px;
    height: 4.5px;
    
    /* Gray 4 */
    
    background: #BDBDBD;
    border-radius: 50%;   
}

.miembro1{
    position: absolute;
    width: 131px;
    height: 42px;
    left: 20px;
    top: 68px;
}

.desc1{
    position: absolute;
    width: 77px;
    height: 37px;
    left: 54px;
    top: 2px;
}

.nombre1{
    position: absolute;
    width: 92px;
    height: 20px;
    /*left: 20px;
    top: 68px;*/
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    
    
    /* Gray 2 */
    
    color: #4F4F4F;
}

.prof1{
    position: absolute;
    width: 77px;
    height: 17px;
    /*left: 74px;*/
    top: 20px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height */
    
    
    /* Gray 3 */
    
    color: #828282;    
}

.miembro1 img{
    position: absolute;
    width: 42px;
    height: 42px;
    /*left: 20px;
    top: 68px;*/
}

.miembro2{
    position: absolute;
    width: 146px;
    height: 42px;
    left: 221px;
    top: 68px;
}

.miembro2 img{
    position: absolute;
    width: 42px;
    height: 42px;
    /*left: 20px;
    top: 68px;*/
}

.miembro3{
    position: absolute;
    width: 132px;
    height: 42px;
    left: 20px;
    top: 130px;
}

.miembro3 img{
    position: absolute;
    width: 42px;
    height: 42px;
    /*left: 20px;
    top: 68px;*/
}

.miembro4{
    position: absolute;
    width: 141px;
    height: 42px;
    left: 221px;
    top: 130px;
}

.nom4{
    position: absolute;
    width: 42px;
    height: 42px;
    /*left: 221px;
    top: 130px;*/
    
    background: #FFFFFF;
    /* Gray 2 */
    
    border: 1px dashed #4F4F4F;
    box-sizing: border-box;
    border-radius: 50%;
}

.desc4{
    position: absolute;
    width: 87px;
    height: 20px;
    left: 54px;
    top: 11px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    
    
    /* Gray 2 */
    
    color: #4F4F4F;
}

.icon{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 11px;
    top: 11px;
}

.vec43{
    position: absolute;
    left: 6.25%;
    right: 71.88%;
    top: 34.38%;
    bottom: 43.75%;
    
    /* Gray 2 */
    
    border: 1.2px solid #4F4F4F;
    z-index: 10;
}

.vec53{
    position: absolute;
    left: 18.75%;
    right: 6.25%;
    top: 59.38%;
    bottom: 9.38%;
    width: 15px;
    height: 6.25px;
    
    /* Gray 2 */
    
    border: 1.2px solid #4F4F4F;
    border-radius: 100% 100% 0 0;
    z-index: 10;
}

.vec63{
    position: absolute;
    left: 39.01%;
    right: 26.51%;
    top: 9.38%;
    bottom: 53.12%;
    
    /* Gray 2 */
    
    border: 1.2px solid #4F4F4F;
    border-radius: 50%;
    z-index: 10;
}